aside{
    background-color: #f8f80059;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}
aside h1, p{
    align-items: center;
    justify-content: center;

    margin: 10px;
}

aside h1{
    margin: 10px;
    text-align: center;
} 

body{
display: grid;
cursor: url("../img/StarBits.png"), default;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
grid-template-areas: 'nav nav nav nav'
                     'header header header aside'
                     'section section section section'
                     'footer footer footer footer';
grid-template-columns: 25vw 25vw 25vw 25vw;
grid-template-rows: 8vh 90vh 60vh 20vh;
margin: 0;
}
body::-webkit-scrollbar{
    width: 0px;
    background: transparent;
}
footer{
    grid-area: footer;
    background-color: gray;
    color: blue
}
header{
    background-image: url("../img/MarioAmarelo.jpg");
    background-size: cover;
    grid-area: header;
}
nav{
    align-items: center;
    background-color: #fc1010;
    cursor: url("../img/Star.png"), default;
    display: flex;
    grid-area: nav;
    justify-content: space-around;
}
nav a{
    color: white;
    text-decoration: none;
    cursor: url("../img/Star.png"), default;
}
nav a:hover{
    color: black;
}
nav>img{
    width: 100px;
}
section{
    grid-area: section;
}

